{% extends 'base.html.twig' %}
{% block body %}
    <div class="card col-md-12">
        <div class="card-header">
            <h1>
                <i class="fas fa-store">Rayon "{{ categorie.libelle }}" : {{ produits|length }} produit(s)</i>
            </h1>
        </div>
    {% if produits is defined %}
        <div class="card-body row">
        {% for item in produits %}
            <div class="col-md-4">
                <div class="card clickable" onclick="location = '{{ path('panier_ajouter', {'idProduit': item.id, 'quantite': 1}) }}'">
                    <h4 class="card-title"> {{ item.libelle }}</h4>
                    <img class="card-img-produit" src="{{ asset(item.visuel) }}">
                    <div class="card-body">
                        <p class="card-text">{{ item.texte }}</p>
                        <h2 class="card-text">
                            <span class="badge badge-primary">
                                <i class="fas fa-cart-plus"></i>
                                {{ item.prix }}
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}